---
layout: default
---

{% include find_tag.html tag_to_find_as_slug=page.tag %}
{% capture post_tagged_message %}Posts tagged <em>{{ data_tag.name }}</em>{% endcapture %}
{% assign no_posts_tagged_message = 'There are no posts with this tag.' %}

<div class="page">
  <h1 class="page-title">{{ post_tagged_message }}</h1>
    {% if site.tags[page.tag] %}
      {% for post in site.tags[page.tag] %}
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br />
      {% endfor %}
    {% else %}
        <p>{{ no_posts_tagged_message }}</p>
    {% endif %}
</div>
